@font-face {
	font-family: 'nexa';
	src: url('Nexa-ExtraLight.ttf');
}

html{
	font-family: 'nexa';
}
body{
	background-color: rgb(135, 179, 83);
}

.ossz{
	background-color:rgb(86, 122, 52) ;
	border-radius: 20px;
	width: 75%;
	margin: 0 auto;
	box-shadow: 4px 4px 8px rgb(77, 107, 43);
}

.header{
	background-color: rgb(86, 122, 52);
	text-align: center;
	color: white;
	font-size: 60px;
	margin: 0 auto 0 auto;
	border-radius: 15px 15px 0px 0px;
}
.header h1{
	font-size: 75px;
}
.main #index{
	background-image: url('budai.png');
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: 50%;
	background-position: center;
}
.main{
	background-image: url('budai.png');
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
}
.main #prezi{
	text-align: center;

}

.main p{
	color:rgb(0, 0, 0);
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-align: justify;
}

.valaszt{
	background-color: rgb(86, 122, 52);
	font-size: 25px;
	text-align: center;
	margin: 0 auto;
}
.valaszt ul li{
		display: inline;
		padding-right: 6.5%;
		padding-left: 6.5%;
}
a {
	color:white;
}
a:visited {
   color: white;
}
a:hover {
	color: rgb(149, 192, 100);
	text-shadow: 0 0 3px rgb(150, 224, 64);
}


.valaszt a{
	text-decoration: none;
}

.eler{
	background-color:#87b353 ;
	color: #1A3300;
	font-size: 30px;
	width: 75%;
	margin: 0 auto 0 auto;
	text-align: center;
}

table{
	text-align: center;
	margin: 0 auto;
}
table a{
	text-decoration: none;
}

.footer{
	margin: 0 auto;
	text-align: center;
	background-color:rgb(86, 122, 52) ;
	border-radius: 0px 0px 10px 10px;
}
.footer img{
	width: 45px;
}
.Premain{
	background-color:rgb(135, 179, 83) ;
	text-align: center;
	color: #1A3300;
	font-size: 30px;
	height: 1100px;
	margin: 0 auto 0 auto;
}

